@keyframes moveR{
    from{
        left: 0px;
        scale: 10px;
    }
    to{
        left: 1000px;
        scale: 10px;
    }
}

.switch {
    left: 0px;
    animation: move 2s ease alternate !important;
}