@keyframes moveR{
    from{
        left: 5px;

    }
    to{
        left: 52px;

    }
}
@keyframes moveL{
    from{
        left: 52px;

    }
    to{
        left: 5px;

    }
}
.static{
    left: 5px;
}
.moveR {

    animation: moveR 500ms ease forwards;
}
.moveL {

    animation: moveL 500ms ease forwards;
}