@keyframes moveR{
    from{
        left: 4.5px;
        background-color: #C7D2FE;
    }
    to{ 
        left: 54px;
        background-color: #FEF3C7;
    }
}
@keyframes moveL{
    from{
        left: 54px;
        background-color: #FEF3C7;
    }
    to{
        left: 4.5px;
        background-color: #C7D2FE;
    }
}
.moveR {
    animation: moveR 400ms ease forwards;
}
.moveL {
    animation: moveL 400ms ease forwards;
}
