@keyframes moveR {
  from {
    left: 4%;
    background-color: #566297;
  }
  to {
    left: 62.5%;
    background-color: #ffead2;
  }
}
@keyframes moveL {
  from {
    left: 62.5%;
    background-color: #ffead2;
  }
  to {
    left: 4%;
    background-color: #566297;
  }
}
.moveR {
  animation: moveR 400ms ease forwards;
}
.moveL {
  animation: moveL 400ms ease forwards;
}
.color {
  color: #e5e563;
}
