html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    transition-duration: 700ms;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  